// main.less
@import "mapas.less";
@import "variaveis.less";
@import "reset.less";
@import "container.less";
@import "header.less";
@import "products.less";
@import "media.less";

body {
    background-color: #colors[backgroundcolor];
    background-image: @backgroundImage;
}

li {
    list-style: none;
}