// variaveis.less
@fontPrincipal: 'Noto Sans JP', sans-serif;
@primaryColor: #b30000;
@secondaryColor: #cc0000;
@containerMaxWidth: 1024px;
@backgroundColor: #f0f0f0;
@backgroundImage: ~"url('https://www.transparenttextures.com/patterns/asfalt-dark.png')";

// Configuração de Escaping
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";